.card-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardForProfile {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  cursor: pointer;
  background-color: #c1c0c0;
  width: 800px;
  border-radius: 25px;
}
/* .photo {
  width: 90px;
  height: 90px;
} */
.description {
  display: flex;
  padding-left: 20px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-around;
}
#name {
  color: rgb(28, 28, 28);
  font-size: 22px;
  font-weight: bold;
  font-family: Verdana;
}
#NIM {
  color: rgb(55, 55, 55);
  font-family: monospace;
  font-weight: 500;
  font-size: 12px;
  margin-top: 5px;
}
#gambar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
